.h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  z-index: 1000;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  animation: slideIn 0s ease-out;
  /* ios safe area adjustments */
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 20px;
  border-bottom: 2px solid #efeeed;
}

.modal-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 4px;
  transition: transform 0.4s ease, background-color 0.1s ease 0.2s;
}

.modal-close-button:hover {
  background-color: #efeeed;
  color: #000;
  transform: rotate(90deg);
}

.modal-content {
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -48%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal-container {
    width: 85vw;
    max-width: 85vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
