.comments-of-post {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 20px;
  height: fit-content;
  position: sticky;
  top: 165px;
  z-index: 5;
}

.comments-header {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #efeeed;
  display: flex;
  justify-content: space-between;
}

.comments-header h2 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.no-comments {
  text-align: center;
  color: #000;
  font-size: 14px;
  padding: 20px;
}
